.detail-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 글제목 */
.detail-container .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 작성자 */
.detail-container .author {
    font-size: 14px;
    color: #575757;
    margin-bottom: 20px;
}

/* 글 내용 */
.detail-container .content {
    min-height: 150px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    white-space: pre-wrap; /* 줄바꿈 유지 */
    line-height: 1.5;
}

.list-button:hover {
    background-color: #1b77c7;
    color: white;
}

.edit-button:hover {
    background-color: #1b77c7;
    color: white;
}

.delete-button:hover {
    background-color: #c71b1b;
    color: white;
}

/* 글 수정 폼 스타일 */
.edit-form input {
    width: 100%;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
}

.edit-form textarea {
    width: 100%;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    min-height: 150px;
    resize: vertical;
    box-sizing: border-box;
}

.comment-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.comment-form{
    display: flex;
}

.comment-form textarea{
    width: 100%;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
}

.comment-form button {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #1e88e5;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    width: 50px;
    height: 40px;
    margin: 0 auto;
}
.comment-form button:hover {
    background-color: #1b77c7;
    color: white;
}

.comment-list {
    flex-direction: column;
    align-items: center;
}

.comment-list button {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #1e88e5;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 10px;
    text-align: center;
    width: 40px;
    height: 30px;
}

.comment-list .comment-content {
    font-size: 15px;
    text-align: left;
}

.comment-author {
    font-size: 14px;
    color: #575757;
    margin-bottom: 5px;
    text-align: right;
}

.comment-date {
    font-size: 14px;
    color: #575757;
    margin-bottom: 5px;
    text-align: right;
}

